@media (max-width: 1099.9px) {
  .title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .subtitle {
    font-size: 12px;
    margin-bottom: 25px;
  }

  .header__content {
    background-size: 65%;
  }

  .header__cards {
    gap: 20px;
  }

  .card__title {
    font-size: 20px !important;
  }

  .card__text {
    font-size: 14px;
  }
}