@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Montserrat", sans-serif;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #000;
}
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #96bb7c;
}

.btn--white {
  padding: 10px 20px;
  border: 1px solid #96bb7c;
  border-radius: 5px;
}

.btn--green {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 11px 20px;
  background: #96bb7c;
  border-radius: 5px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.name {
  padding-top: 160px;
}

.tag {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #96bb7c;
  margin-bottom: 10px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 10px;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.hr--bold {
  width: 94px;
  height: 7px;
  background: #e74040;
}

.header__nav {
  display: flex;
  align-items: center;
  margin: 30px 0 0;
}

.header__logo {
  margin-right: 78px;
}

.header__list {
  display: flex;
  gap: 21px;
  margin-right: 240px;
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.header__link:hover {
  color: #000;
  transition: color 0.5s ease;
}

.header__btn .btn--green img {
  display: inline-block;
  vertical-align: middle;
  transform: translate(0, -10%);
}

.header__content {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 100%;
}
.header__content .content--btn {
  margin-bottom: 35px;
  margin-top: 93px;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 35px;
}

.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 35px;
  display: block;
}

.header__cards {
  display: flex;
  gap: 30px;
}
.header__cards .header__card {
  background-color: #fff;
  padding: 34px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin: 80px 0;
}
.header__cards .header__card .card__img {
  margin-bottom: 20px;
}
.header__cards .header__card .card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 20px;
}
.header__cards .header__card .hr {
  width: 50px;
  height: 2px;
  background: #e74040;
  margin-bottom: 20px;
}
.header__cards .header__card .header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.stats__list {
  padding: 80px 0;
  display: flex;
  justify-content: space-evenly;
}
.stats__title {
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #96bb7c;
}
.stats__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.problem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.problem__hr {
  margin-bottom: 35px;
}
.problem__title {
  margin-bottom: 35px;
}
.problem__subtitle {
  max-width: 350px;
  margin-bottom: 35px;
}
.problem__btn img {
  transform: translate(0, -10%);
  margin-left: 10px;
}

.teacher {
  background: #fff2f3;
}
.teacher__name {
  margin-bottom: 80px;
}
.teacher__cards {
  display: flex;
  gap: 20px;
  padding-bottom: 160px;
}
.teacher__card--up {
  background-image: url("../img/teacher-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.teacher__sale {
  position: absolute;
  top: 20px;
  left: 20px;
}
.teacher__list {
  padding: 235px 104px 24px;
  display: flex;
  gap: 10px;
}
.teacher__card--down {
  padding: 25px 25px 35px;
  background-color: #fff;
}

.card__frame1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.card__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #96bb7c;
}
.card__rating {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #2d4059;
  border-radius: 20px;
  padding: 5.5px;
  color: #fff;
}
.card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 10px;
}
.card__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 10px;
}
.card__download {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.card__download p {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.card__price {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.card__price .price--old {
  color: #bdbdbd;
}
.card__price .price--new {
  color: #ffab71;
}
.card__btn {
  border-radius: 37px;
}

.client__name {
  margin-bottom: 120px;
}
.client__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 112px;
}
.client__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}
.client__item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.client__descr {
  text-align: center;
  padding: 30px 50px;
}
.client__fio {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 10px;
}
.client__prof {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 10px;
}
.client__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.news {
  text-align: center;
}
.news__name {
  margin-bottom: 80px;
}
.news__group {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}
.news__btn {
  display: inline-block;
  border-radius: 0px 5px 5px 0px;
}
.news__input {
  position: relative;
  border-radius: 5px 0px 0px 5px;
  padding: 15px 450px 15px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.news__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.news__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.news__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__item li {
  display: flex;
  gap: 10px;
}
.footer__item li:not(:last-child) {
  margin-bottom: 10px;
}
.footer__item a {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.footer__item a:hover {
  color: #000;
  transition: color 0.3s ease-in-out;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 20px;
}

.footer--down {
  background: #FAFAFA;
  padding: 25px 0;
}
.footer--down__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer--down__social {
  display: flex;
  gap: 20px;
}